
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.zip
.Python
interpriter/
.idea

#dataDic
deadEndList/
m_vector/
r_vector/
r_new_vector

data/result.txt
data/sortedWikiData.txt

test.py
